/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    /*
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    */

}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

#nav {
    display: flex;
    flex-direction: column;
    font-size: 20pt;
    margin-bottom: 10px;
    margin-right: 8px;
}


/* logo */

.logo {
    display: flex;
    align-items: center;    
}

.logo img {
    height: 100px;
    width: 100px;
    margin: 8px;
}

.logo h1 {
    font-size: 24pt;
}

/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    color: #FFF;
    background-color: #eb7f85;
    font-size: 20pt;
    padding: 5px;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    border: #eb7f85 1px solid;
    border-radius: 10px;
}

.navbar-links a:hover, .navbar-links a:focus {
    color: #FFF;
    background-color: #9e464a;
    border-radius: 10px;
    outline: none;
}

/*hamburger menu*/
#toggle:checked ~ #nav-button #closed {
    display:none;
}
#opened {
    display:none;
}
#toggle:checked ~ #nav-button #opened {
    display:inherit;
}
#toggle {
    display:none;
}
.navbar-links {
    display:none;
}
#toggle:checked ~ .navbar-links {
    display:block;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width: 960px) {
    .navbar-links {
        display: flex;
        justify-content: space-between;
    }

    #nav {
        flex-direction: row;
        justify-content: space-between;
    }

    #nav ul {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {

    .logo img {
        width: 120px;
        height: 120px;
    }
}