body {
    background-color: #9e464a;
    color: #fff5f5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue";
    font-size: 40pt;
}
h2 {
    margin-top: 0px;
    margin-bottom: 1px;
}
header {
    text-align: center;
    background-color: #eb7f85;
}
header img {
    max-width: 100%;
}
/* .navbar-links ul, .navbar-links a {
    list-style: none;
    text-decoration: none;
} */
/* .navbar-links li {
    border: #9e464a 4px solid;
    margin: 10px;
    font-size: 20pt;
    background-color: #fff5f5;
    color: #9e464a;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
#hero {
    text-align: center;
    background-color: #eb7f85;
    color: #fff5f5;
    border: 6px solid #fff5f5;
}
#hero img {
    max-width: 100%;
}
main {

    font-family: "abel";
    font-size: 30pt;
}
main input, main select {
    font-size: 20pt;
}
/*hobbies*/

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hobbies h2 {
    text-align: center;
    border: #eb7f85 solid 5px;
    border-radius: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#hobbies ul {
    width: 50%;
    border: 5px #eb7f85 dashed;
    padding: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    
}
#hobbies ul li {
    margin-left: 80px;

}
/*photo gallery*/

#gallery img {
    max-width: 100%;
    border: #eb7f85 solid 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .5);
}
#gallery {
    text-align: center;
}
#gallery * {
    /*border: 1px solid;*/
}

iframe {
    border: #eb7f85 solid 8px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, .5);
    max-width: 75%;
}
#iframe {
    margin: auto;
    text-align: center;
}
#iframe-header {
    border-top: dotted #eb7f85 5px;
}
/*article*/

/* article {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;

} */

article h2 {
    text-align: center;
    font-size: 45px;
    border: #eb7f85 solid 4px;
    border-radius: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
article {
    text-align: justify;
    padding: 5px;
    margin: 20px;
}
article p:nth-child(even):first-letter {
    color: #369e50;
    font-size: 400%;
    border: 15px double #369e50;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    margin-right: .5ex;
    background-color: #eb7f85;
    font-family: Garamond;
    background-image: radial-gradient(#fff, #eb7f85);
    box-shadow: 10px 10px 15px black;
}
::selection {
    background-color: #c3ebcd;
    color: #9e464a;

}
footer {
    border: #eb7f85 solid 4px;
    background-color: #fff5f5;
    padding: 4px;
    text-align: center;
    color: #000;
}
.footer-link {
    text-decoration: none;
}

.contact {
    max-width:100%;
    padding:0px;
}
figure {
    display: grid;
    grid-template-columns: 2fr 1fr;

}
#form-header {
    border: #369e50 2px double;
}
fieldset {
    background-color: #eb7f85;
    border: #369e50 5px solid;
    display: grid;
    max-width: 100%;
}
fieldset li {
    list-style: none;
}
#reply {
    margin: 15px;
    border-width: 50%;
}
legend {
    border: #369e50 5px solid;
    background-color: #eb7f85;
    text-align: center;
}
#contact {
    margin: 10px;
    padding: 5px;
}
input {
    background-color: #fff5f5;
    color: #9e464a;
}

#message {
    font-size: 18pt;
    color: #369e50;
    
}
#send {
    height: 50px;
    width: 150px;
    border: #369e50 5px solid;
    border-radius: 15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#send:hover {
    background-color: #c3ebcd;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

/*tablet state*/
@media screen and (min-width: 960px) {

    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    figure img {
        max-width:100%;
    }
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    iframe {
        height: 500px;
    }
}
    
